# ignorar todos los archivos de la carpeta writable
writable/*
public/resource/file_company/company_2/
app/Libraries/core_web_qr/cache/*
app/Libraries/core_web_qr/temp/*
.idea/.gitignore
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/v4posme.iml
.idea/vcs.xml
/vendor/dompdf/dompdf/lib/fonts/Helvetica-BoldOblique.afm.json
/vendor/dompdf/dompdf/lib/fonts/Times-BoldItalic.afm.json
/public/resource/theme-ext-6.2.0/*
/public/resource/theme-genyx/*
/public/resource/theme-kuta-admin/*
/public/resource/theme-remark/*
/public/resource/themplate-sneat-bootstrap-html-admin-template-v-1-1-1/*
/public/resource/file_navicate_perfil_sincronization/*.ndsymysql
