# ignorar todos los archivos de la carpeta writable
writable/*
public/resource/file_company/company_2/
app/Libraries/core_web_qr/cache/*
app/Libraries/core_web_qr/temp/*
.idea/.gitignore
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/v4posme.iml
.idea/vcs.xml
/vendor/dompdf/dompdf/lib/fonts/Helvetica-BoldOblique.afm.json
